
@import url("layout_props_320.css") screen
and (min-width: 1px)
and (max-width: 320px);

@import url("layout_props_460.css") screen
and (min-width: 321px)
and (max-width: 460px);

@import url("layout_props_640.css") screen
and (min-width: 461px)
and (max-width: 640px);

@import url("layout_props_800.css") screen
and (min-width: 641px)
and (max-width: 800px);

@import url("layout_props_1080.css") screen
and (min-width: 801px)
and (max-width: 1080px);

@import url("layout_props_1360.css") screen
and (min-width: 1081px)
and (max-width: 1360px);

@import url("layout_props_1640.css") screen
and (min-width: 1361px)
and (max-width: 1640px);

@import url("layout_props_1920.css") screen
and (min-width: 1641px);

@import url("layout_props_800x700.css") screen and (max-width: 800px),
screen and (max-height: 700px);


/* base css */

/*test*/
.willnotrender { transform: translateZ(0); }


h1.no_style, h2.no_style, h3.no_style, h4.no_style, h5.no_style,
h1.nodef, h2.nodef, h3.nodef, h4.nodef, h5.nodef
{
    font-size: inherit;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: inherit;
}

button.no_def
{
    padding: 0;
    border:none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    text-align: left;
    align-items: inherit;
}

.vmob, .vmob800  {  }
.hmob, .hmob800  {  }

.vmob_in  {  }
.hmob_in  {  }

.lh_SS {  }
.lh_S  {  }
.lh_A  {  }
.lh_B  {  }
.lh_C  {  }
.lh_D  {  }
.lh_E  {  }
.lh_F  {  }

.lh_SSp {  }
.lh_Sp  {  }
.lh_Ap  {  }
.lh_Bp  {  }
.lh_Cp  {  }
.lh_Dp  {  }
.lh_Ep  {  }
.lh_Fp  {  }

span.tx_type_SS {  }
span.tx_type_S {  }
span.tx_type_A {  }
span.tx_type_B {  }
span.tx_type_C {  }
span.tx_type_D {  }
span.tx_type_E {  }
span.tx_type_F {  }

span.fx_fnt_36, input.fx_fnt_36, textarea.fx_fnt_36 { font-size: 3.6em; }
span.fx_fnt_30, input.fx_fnt_30, textarea.fx_fnt_30 { font-size: 3em; }
span.fx_fnt_26, input.fx_fnt_26, textarea.fx_fnt_26 { font-size: 2.6em; }
span.fx_fnt_24, input.fx_fnt_24, textarea.fx_fnt_24 { font-size: 2.4em; }
span.fx_fnt_22, input.fx_fnt_22, textarea.fx_fnt_22 { font-size: 2.2em; }
span.fx_fnt_20, input.fx_fnt_20, textarea.fx_fnt_20 { font-size: 2em; }
span.fx_fnt_18, input.fx_fnt_18, textarea.fx_fnt_18 { font-size: 1.8em; }
span.fx_fnt_16, input.fx_fnt_16, textarea.fx_fnt_16 { font-size: 1.6em; }
span.fx_fnt_14, input.fx_fnt_14, textarea.fx_fnt_14 { font-size: 1.4em; }
span.fx_fnt_12, input.fx_fnt_12, textarea.fx_fnt_12 { font-size: 1.2em; }
span.fx_fnt_10, input.fx_fnt_10, textarea.fx_fnt_10 { font-size: 1em; }

.fx_lineH_36 { line-height: 4em; }
.fx_lineH_30 { line-height: 3.2em; }
.fx_lineH_26 { line-height: 2.8em; }
.fx_lineH_24 { line-height: 2.6em; }
.fx_lineH_22 { line-height: 2.4em; }
.fx_lineH_20 { line-height: 2.2em; }
.fx_lineH_18 { line-height: 2em; }
.fx_lineH_16 { line-height: 1.8em; }
.fx_lineH_14 { line-height: 1.6em; }
.fx_lineH_12 { line-height: 1.4em; }

.rowLH6M
{
    line-height: 6em;
}

.fnt_colFFF { color: #FFF !important; }
.fnt_colEEE { color: #EEE !important; }
.fnt_col333 { color: #333 !important; }
.fnt_col555 { color: #555 !important; }
.fnt_col999 { color: #888; }
.fnt_col44C { color: #44CE5E !important; }
.fnt_col33B { color: #33BCF2 !important; }
.fnt_colErr { color: #ff7070 !important; }
.fnt_col { color: rgba(85, 85, 85, 0.6); }
.fnt_col00p75 { color: rgba(0,0,0,0.75)}

.fnt_w9 { font-weight: 900; }
.fnt_w8 { font-weight: 800; }
.fnt_w7 { font-weight: 700; }
.fnt_w6 { font-weight: 600; }
.fnt_w5 { font-weight: 500; }
.fnt_w4 { font-weight: 400; }
.fnt_w3 { font-weight: 300; }
.fnt_w2 { font-weight: 200; }
.fnt_w7_first:first-line { font-weight: 700; }

.tx_trans_upper { text-transform: uppercase;  }
.tx_trans_lower { text-transform: lowercase;  }
.tx_trans_cap   { text-transform: capitalize; }

.tx_alg_L { text-align: left;   }
.tx_alg_C { text-align: center; }
.tx_alg_R { text-align: right;  }

.tx_wrap   { white-space: normal; }
.tx_nowrap { white-space: nowrap; }
.tx_prewrap { white-space: pre-wrap; }

/* mobile alts */
.tx_alg_L_mC { }
.tx_alg_R_mC { }
.tx_alg_J_mL { }
.tx_alg_C_mL { }

.tx_shad_1 { text-shadow: 0 3px 0 rgba(0, 0, 0, 0.15); }
.tx_shad_2 { text-shadow: 0 2px 0 rgba(0, 0, 0, 0.10); }

.bkg_colFFF  { background-color: #FFF;    }
.bkg_colF5F  { background-color: #F5F5F5; }
.bkg_colF9F  { background-color: #F9F9F9; }
.bkg_colEEE  { background-color: #EEE;    }
.bkg_colE5E  { background-color: #E5E5E5; }
.bkg_col999  { background-color: #999;    }
.bkg_col555  { background-color: #555;    }
.bkg_col44CE { background-color: #44CE5E; }
.bkg_col44C7 { background-color: #44C75D; }
.bkg_col4159 { background-color: #41C359; }
.bkg_colRED  { background-color: #900     }
.bkg_col33B  { background-color: #33BCF2; }
.bkg_status_green { background-color: #44CE5E; }
.bkg_status_blue  { background-color: #7DAFE8; }
.bkg_status_red   { background-color: #FF7070; }
.bkg_status_yellow   { background-color: #EEE555; }

.brd_full_EE { border: 1px solid #EEEEEE; }
.brd_full_D9 { border: 1px solid #D9D9D9; }

.br_dash_bot_EE { border-bottom: 1px dashed #EEEEEE; }
.br_dash_bot_AA { border-bottom: 1px dashed #AAAAAA; }
.br_dash_bot_D9 { border-bottom: 1px dashed rgba(0, 0, 0, 0.15); }
.br_dash_bot_217 { border-bottom: 1px dashed rgba(217, 217, 217, 1); }

.bsol-T-op15 { border-top: 1px solid rgba(0, 0, 0, 0.15); }

.bsol-T-colEEE { border-top: 1px solid #EEEEEE; }
.bsol-B-colEEE { border-bottom: 1px solid #EEEEEE; }

.bsol-L-colD9D { border-left: 1px solid #D9D9D9; }
.bsol-R-colD9D { border-right: 1px solid #D9D9D9; }
.bsol-T-colD9D { border-top: 1px solid #D9D9D9; }
.bsol-B-colD9D { border-bottom: 1px solid #D9D9D9; }
.bsol-TB-colD9D { border-top: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9; }

.bsol-R4-col44CE { border-right: 4px solid #44CE5E; }

.bsol-R-col15p { border-right: 1px solid rgba(0, 0, 0, 0.15); }
.bsol-B-col15p { border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.bsol-T-col15p { border-top: 1px solid rgba(0, 0, 0, 0.15); }
.bsol-F-col15p { border: 1px solid rgba(0, 0, 0, 0.15); }

.bdash-T-col15p { border-top: 1px dashed rgba(0, 0, 0, 0.15); }

/* border radius */
.br_rf_2  { border-radius: 2px;}
.br_rf_3  { border-radius: 3px;}
.br_rf_6  { border-radius: 6px;}
.br_rf_10 { border-radius: 10px;}
.br_rf_15 { border-radius: 15px;}
.br_rnd    { border-radius: 50%; }

.br_rf_6_top  { border-radius: 6px 6px 0 0;}
.br_rf_6_bot  { border-radius: 0 0 6px 6px;}

.brad-left-3  { border-radius: 3px 0 0 3px; }
.brad-right-3 { border-radius: 0 3px 3px 0; }

.br_rf_6_left  { border-radius: 6px 0 0 6px; }
.br_rf_6_right { border-radius: 0 6px 6px 0; }


.padB_L2, .padB_L4,
.padB_R2, .padB_R4,
.padB_LR_10p, .padB_LR_15p, .padB_LR_20p, .padB_LR_25p, .padB_LR_30p,
.padB_LR_1e, .padB_LR_2e, .padB_LR_4e, .padB_LR_2e_mp5,
.padMob_LR_1e, .padMob_LR_2e,
.padBF_1, .padBF_2, .padBF_3,
.pad_mF1, .pad_mF2,
.padLR_cent,
.pr6, .pr8, .pl6, .pl8, .PL10,
.PT2, .PT6, .PL4, .PL5, .PR18, .PR24, .PT8,
.PL-1, .PL-2, .PL-3, .PL-4, .PL-6, .PL-7, .PL-8, .PL-10, .PL-12, .PL-14, .PL-16,
.PR-1, .PR-2, .PR-3, .PR-4, .PR-6, .PR-8, .PR-10, .PR-12, .PR-14, .PR-18, .PR-24,
.PT-1, .PT-2, .PT-5,
.PB-1, .PB-2, .PB-4,
.PF-1, .PF-2,
.fbx_PR8, .fbx_PL8,
.bsol-T-colEEE, .bsol-B-colEEE, .bsol-L-colD9D, .bsol-R-colD9D, .bsol-T-colD9D, .bsol-B-colD9D, .bsol-TB-colD9D, .bsol-R4-col44CE
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*unit paddings*/

.PL-1 {padding-left: 1em; } .PL-2 {padding-left: 2em; } .PL-3 {padding-left: 3em; } .PL-4 {padding-left: 4em; } .PL-6 {padding-left: 6em; }
.PL-7 {padding-left: 7em; } .PL-8 {padding-left: 8em; } .PL-10{padding-left: 10em;} .PL-12{padding-left: 12em;}
.PL-14{padding-left: 14em;} .PL-16{padding-left: 16em;}

.PR-1 { padding-right: 1em;  } .PR-2 { padding-right: 2em;  } .PR-3 { padding-right: 3em;  } .PR-4 { padding-right: 4em;  } .PR-6 { padding-right: 6em;  }
.PR-8 { padding-right: 8em;  } .PR-10{ padding-right: 10em; } .PR-12{ padding-right: 12em; }
.PR-14{ padding-right: 12em; } .PR-18{ padding-right: 18em; } .PR-24{ padding-right: 24em; }

.PT-1 {padding-top: 1em; } .PT-2 {padding-top: 2em; } .PT-5 {padding-top: 5em; }
.PB-1 {padding-bottom: 1em; } .PB-2 {padding-bottom: 2em; } .PB-4 {padding-bottom: 4em; }

.PF-1 {padding: 1em; } .PF-2 {padding: 2em; }

.padB_LR_1e
{
    padding-left: 1em;
    padding-right: 1em;
}

.pr6  { padding-right: 6em; }/*DEPRECATED*/
.pr8  { padding-right: 8em; }/*DEPRECATED*/
.PR18 { padding-right: 18em; }/*DEPRECATED*/
.PR24 { padding-right: 24em; }/*DEPRECATED*/
.PL4 { padding-left: 4em; }/*DEPRECATED*/
.PL5 { padding-left: 5em; }/*DEPRECATED*/
.pl6 { padding-left: 6em; }/*DEPRECATED*/
.pl8 { padding-left: 8em; }/*DEPRECATED*/
.PL10 { padding-left: 10em; }/*DEPRECATED*/

.PT2 { padding-top: 2em; }
.PT6 { padding-top: 6em; }
.PT8 { padding-top: 8em; }

.LH4 {line-height: 4em;}
.LH6 {line-height: 6em;}

/* padding left */
.padB_L2 {  }
.padB_L4 {  }

/* padding right */
.padB_R2 {  }
.padB_R4 {  }

/* padding left right */
.padB_LR_10p
{
    padding-left: 10%;
    padding-right: 10%;
}
.padB_LR_15p
{
    padding-left: 15%;
    padding-right: 15%;
}
.padB_LR_20p
{
    padding-left: 20%;
    padding-right: 20%;
}
.padB_LR_25p
{
    padding-left: 25%;
    padding-right: 25%;
}
.padB_LR_30p
{
    padding-left: 30%;
    padding-right: 30%;
}
.padLR_cent  {  }
.padB_LR_2e  {  }
.padB_LR_4e  {  }

.padMob_LR_1e {  }
.padMob_LR_2e {  }

/* top bottom */
.padB_TB_05   {  padding: 0.5em 0 0.5em 0; }
.padB_TB_1    {  }

/* padding full box */
.padBF_1 {  }
.padBF_2 {  }
.padBF_3 {  }

.pad_mX {}

.pad_mF1 {}
.pad_mF2 {}


/* ------------- */

.mrgT1hf { margin-top: 1.5em; }
.mrgT1 { margin-top: 1em; }
.mrgT2 { margin-top: 2em; }
.mrgT3 { margin-top: 3em; }
.mrgL6 { margin-left: 6em; }
.mrgR6 { margin-right: 6em; }
.mrgB0 { margin-bottom: 0 !important; }
.mrgB_05 { margin-bottom: 0.5em; }
.mrgB1 { margin-bottom: 1em; }
.mrgB1hf { margin-bottom: 1.5em; }
.mrgAuto { margin: auto; }

.mg-L1 { margin-left: 1em;}
.mg-L2 { margin-left: 2em;}

.mg-R1 { margin-right: 1em;}
.mg-R2 { margin-right: 2em;}

.mg-B1 { margin-bottom: 1em;}
.mg-B2 { margin-bottom: 2em;}
.mg-B4 { margin-bottom: 4em;}

.mg-T1 { margin-top: 1em;}
.mg-T2 { margin-top: 2em;}

.W-50p { width:  50%;  }
.W  { width:  100%; }
.W-auto { width:   auto; }
.W1 { width: 1em; }
.W2 { width:  2em;  }
.W3 { width:  3em;  }
.W4 { width:  4em;  }
.W6 { width:  6em;  }
.W8 { width:  8em;  }
.W10 { width: 10em;  }
.W12 { width: 12em;  }
.W14 { width: 14em;  }
.W16 { width: 16em;  }
.W18 { width: 18em;  }
.W24 { width: 24em;  }


.H05 { height: 0.5em; }
.H  { height: 100%; }
.H-auto  { height: auto; }
.H1 { height: 1em; }
.H2 { height: 2em; }
.H3 { height: 3em; }
.H4 { height: 4em; }
.H5 { height: 5em; }
.H6 { height: 6em; }
.H7 { height: 7em; }
.H8 { height: 8em; }
.H10 { height: 10em; }
.H12 { height: 12em; }
.H16 { height: 16em; }

.mxW { }
.mxH { }
.mxW_460 { }
.mxH_460 { }
.mxW_640 { }
.mxH_640 { }
.mxW_800 { }
.mxH_800 { }


.bxStc { position: static;   }
.bxRel { position: relative; }
.bxAbs { position: absolute; }
.bxFxd { position: fixed;    }

.bxStc_mxRel, .bxStc_mxRel800 { }
.bxRel_mxStc, .bxRel_mxStc800 { }

.bxAbs_F  { position: absolute; top:0; right:0; bottom:0; left:0;}
.bxAbs_TB { position: absolute; top:0; bottom:0; }
.bxAbs_TB_R { position: absolute; top:0; bottom:0; right:0;}
.bxAbs_TB_L { position: absolute; top:0; bottom:0; left:0; }
.bxAbs_TR { position: absolute; top:0; right:0; }
.bxAbs_TL { position: absolute; top:0; left:0; }
.bxAbs_LR { position: absolute; right:0; left:0; }
.bxAbs_B { position: absolute; bottom:0; }
.bxAbs_LRB { position: absolute; right:0; left:0; bottom:0; }
.bxAbs_LRT { position: absolute; right:0; left:0; top:0; }
.bxAbs_L { position: absolute; left:0; }
.bxAbs_R { position: absolute; right:0; }
.bxAbs_T { position: absolute; top:0; }
.bxAbs_LB { position: absolute; left:0; bottom:0; }
.bxAbs_RB { position: absolute; right:0; bottom:0; }

.bxAbs_TR_ext { position: absolute; top:-2.4em; right:-2.4em; }

.bxFxd_F  { position: fixed;    top:0; right:0; bottom:0; left:0;}
.bxFxd_top  { position: fixed;    top:0; right:0; left:0;}

.bxD_inl  { display: inline; }
.bxD_inb  { display: inline-block; }
.bxD_blk  { display: block; }
.bxD_none { display: none; }

.hide_empty:empty {display: none;}

.bxBorder
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hideX  { overflow-x: hidden; }
.hideY  { overflow-y: hidden; }
.hideXY { overflow:   hidden; }
.ovrFlowWrap { overflow-wrap: break-word; }

.floatR   { float : right;}
.floatL   { float : left; }
.floatCLR { clear : both; }

.z1 { z-index: 1; } .z2 { z-index: 1; } .z3 { z-index: 1; } .z4 { z-index: 1; } .z5 { z-index: 5; }
.z10 { z-index: 10; }

a.no_ul:hover
{
    text-decoration: none;
}

a.force_ul span, a.force_ul, span.force_ul
{
    text-decoration: underline;
}

a:hover ~ div span.link_ul
{
    text-decoration: underline;
}

a:hover span.link_ul
{
    text-decoration: underline;
}

a.no_href:not([href]) > *
{
    opacity: 0.33;
}

a.no_href[href]
{
    cursor: pointer;
}

a.no_href:not([href])
{
    cursor: default;
}

.avoid-clicks { pointer-events: none; }

.bkg_hovGrad
{
    background-repeat: repeat-x;
    background-size: auto 105%;
    background-image: url('../../img/common/hover_b.svg');

    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    opacity: 0;
}

a.bkg_hovGrad:hover, a:hover div.bkg_hovGrad
{
    opacity: 1;
}


.bkg_hovFAF, .bkg_hov999, .on-hov-bkgEEE
{
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

a.bkg_hovFAF:hover, a:hover div.bkg_hovFAF { background-color: #FAFAFA; }
a.bkg_hov999:hover, a:hover div.bkg_hov999 { background-color: #999;    }
.on-hov-bkgEEE:not([data-state-disabled=true]):hover { background-color: #EEE;  }


*[data-state-disabled=true] > *
{
    opacity: 0.5;
}


.fullOP { opacity: 1 !important; }
.opc50 { opacity: 0.5; }

.hov66p, .hov66p_target
{
    opacity: 0.66;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
.hov66p:hover,  .hov66p_targ_parent:hover .hov66p_target
{ opacity: 1; }

.bxShdw_0
{
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10);
}

.bxShdw_1
{
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.bxShdw_2
{
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.05);
}

.bxShdw_3
{
    -webkit-box-shadow: 0px 3px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 1px rgba(0,0,0,0.1);
}

.bxShdw_4
{
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.bxShdw_5
{
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
}

.bxShdw_6
{
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.33);
}



/* for popup window */
.bxShdw_7
{
    -webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.bxShdw_8
{
    -moz-box-shadow: 0 6px 30px 2px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 6px 30px 2px rgba(0,0,0,.2);
    box-shadow: 0 6px 30px 2px rgba(0,0,0,.2);
}


.bxShdw_inset
{
    -webkit-box-shadow: inset 0px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0px 2px 0px rgba(0,0,0,0.05);
    box-shadow: inset 0px 2px 0px rgba(0,0,0,0.05);
}



.autoRatio_100p::before
{
    content: '';
    display: block;
    padding-top: 100%;
}

.bkgImg_fit_width  { background-size: 100% auto; }
.bkgImg_fit_height { background-size: auto 100%; }

.bkgImg_left_center, .bkgImg_center_center, .bkgImg_center_top, .bkgImg_right_top,
.bkgImg_center_bottom, .bkgImg_right_bottom, .bkgImg_left_top, .bkgImg_right_center
{
    background-repeat: no-repeat;
}

.bkgImg_left_center     { background-position: left center; }
.bkgImg_center_center   { background-position: center center; }
.bkgImg_center_top      { background-position: center top; }
.bkgImg_right_top       { background-position: right top; }
.bkgImg_center_bottom   { background-position: center bottom; }
.bkgImg_right_bottom    { background-position: right bottom; }
.bkgImg_left_top        { background-position: left top; }
.bkgImg_right_center    { background-position: right center; }


.bkgSize_cover { background-size: cover; }
.bkgSize_contain { background-size: contain; }

.hovEff_op50, .hov_eff_op50 { opacity: 0.5; }
.hovEff_op50:hover { opacity: 1; }

.hov_targ_op50:hover .hov_eff_op50 { opacity: 1; }

/* -------------------------- */

.tnz_bkg_col
{
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}


.tnz_bkg_brd_col
{
    -webkit-transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

.grad_LR_15-0
{
    background: -moz-linear-gradient(left, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=1 );
}

.bk_grd120_EE_FF
{
    background: #EEEEEE;
    background: -moz-linear-gradient(-120deg,  #EEEEEE 0%, #FFFFFF 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#FFFFFF));
    background: -webkit-linear-gradient(-120deg,  #EEEEEE 0%,#FFFFFF 100%);
    background: -o-linear-gradient(-120deg,  #EEEEEE 0%,#FFFFFF 100%);
    background: -ms-linear-gradient(-120deg,  #EEEEEE 0%,#FFFFFF 100%);
    background: linear-gradient(210deg,  #EEEEEE 0%,#FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#FFFFFF',GradientType=1 );
}


.bk_grd120_EE_F5
{
    background: #EEEEEE;
    background: -moz-linear-gradient(-120deg,  #EEEEEE 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(-120deg,  #EEEEEE 0%,#f5f5f5 100%);
    background: -o-linear-gradient(-120deg,  #EEEEEE 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(-120deg,  #EEEEEE 0%,#f5f5f5 100%);
    background: linear-gradient(210deg,  #EEEEEE 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#f5f5f5',GradientType=1 );
}

/* --- */

.bk_grd60_FF_F5
{
    background: #ffffff;
    background: -moz-linear-gradient(-60deg,  #ffffff 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(-60deg,  #ffffff 0%,#f5f5f5 100%);
    background: -o-linear-gradient(-60deg,  #ffffff 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(-60deg,  #ffffff 0%,#f5f5f5 100%);
    background: linear-gradient(150deg,  #ffffff 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=1 );
}

.bk_grd60_F5_FF
{
    background: #f5f5f5;
    background: -moz-linear-gradient(-60deg,  #f5f5f5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(-60deg,  #f5f5f5 0%,#ffffff 100%);
    background: -o-linear-gradient(-60deg,  #f5f5f5 0%,#ffffff 100%);
    background: -ms-linear-gradient(-60deg,  #f5f5f5 0%,#ffffff 100%);
    background: linear-gradient(150deg,  #f5f5f5 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=1 );
}

.bk_grd120_FF_F5
{
    background: #ffffff;
    background: -moz-linear-gradient(-120deg,  #ffffff 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(-120deg,  #ffffff 0%,#f5f5f5 100%);
    background: -o-linear-gradient(-120deg,  #ffffff 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(-120deg,  #ffffff 0%,#f5f5f5 100%);
    background: linear-gradient(210deg,  #ffffff 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=1 );
}

.bk_grd120_F5_FF
{
    background: #f5f5f5;
    background: -moz-linear-gradient(-120deg,  #f5f5f5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(-120deg,  #f5f5f5 0%,#ffffff 100%);
    background: -o-linear-gradient(-120deg,  #f5f5f5 0%,#ffffff 100%);
    background: -ms-linear-gradient(-120deg,  #f5f5f5 0%,#ffffff 100%);
    background: linear-gradient(210deg,  #f5f5f5 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=1 );
}

.bk_grd120_F5_EE
{
    background: #f5f5f5;
    background: -moz-linear-gradient(-120deg,  #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, right top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(-120deg,  #f5f5f5 0%,#eeeeee 100%);
    background: -o-linear-gradient(-120deg,  #f5f5f5 0%,#eeeeee 100%);
    background: -ms-linear-gradient(-120deg,  #f5f5f5 0%,#eeeeee 100%);
    background: linear-gradient(210deg,  #f5f5f5 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=1 );
}


.bk_gradV_F50_F51
{
    background: -moz-linear-gradient(top,  rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,0)), color-stop(100%,rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top,  rgba(245,245,245,0) 0%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom,  rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f5f5f5', endColorstr='#f5f5f5',GradientType=0 );
}

.bk_gradV_EE0_EE1
{
    background: -moz-linear-gradient(top,  rgba(238,238,238,0) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,0)), color-stop(100%,rgba(238,238,238,1)));
    background: -webkit-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
    background: linear-gradient(to bottom,  rgba(238,238,238,0) 0%,rgba(238,238,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeeee', endColorstr='#eeeeee',GradientType=0 );
}

.bk_gradV_EE_FF
{
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

.bk_gradV_EE_F5
{
    background: rgb(238,238,238);
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f5f5f5',GradientType=0 );
}

.bk_gradV_FF_F5
{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
}

.bk_gradV_F5_FF
{
    background: rgb(245,245,245);
    background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 );
}

.bk_gradV_FF80_EE80
{
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(238,238,238,0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(238,238,238,0.8)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(238,238,238,0.8) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(238,238,238,0.8) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(238,238,238,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(238,238,238,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80eeeeee',GradientType=0 );
}


.bk_gradV_FF_FF_EE
{
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(255,255,255) 25%, rgb(238,238,238) 100%);
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(255,255,255) 25%, rgb(238,238,238) 100%);
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(255,255,255) 25%, rgb(238,238,238) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}






/* fill in size via media query */

.no_tranz
{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


/* -------------------------------------------------------------- WH - 800 x 700 ------------------------------- */
.nrPT8
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nrPT8 { padding-top: 8em; }
.nrH8  { height: 8em; }
.nrW10 { width: 10em; }
.nrW8 { width: 8em; }