.ovr_LR_A, .ovr_LR_B
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ovr_H { }
.ovr_LR_A { }
.ovr_LR_B { }


.bkg_deco_left, .bkg_deco_right
{
    position: absolute;
    top: -2em;
    height: 50em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 85%;
}

.bkg_deco_left
{
    left: -18em;
    background-position: left top;
    background-image: url("../../img/fordevelopers/feature_1_left.png");
}

.bkg_deco_right
{
    right: -12em;
    background-position: right top;
    background-image: url("../../img/fordevelopers/feature_1_right.png");
}


.bgBarRight, .bgBarLeft
{
    position: absolute;
    display: inline-block;
    top:0;
    bottom:0;
}

.bgBarRight
{
    width:66%;
}


.bgBarLeft
{
    left:0;
    /*
    margin-left: -1000px;
    width: 1000px;
    */
    margin-left: -50%;
    width: 50%;
}

.bullet_f::before
{
    content: '\2022';
    padding-right: 0.5em;
}

.bullet::after
{
    content: '\2022';
    padding-left: 0.5em;
}

.section_icon
{
    position: absolute;
    height: 12em;
    width: 100%;

    margin-top: -6em;
    background-position: center center;
    background-repeat: no-repeat;
}



/* ------------------ */

.mini_icon
{
    margin: auto;
    width: 7.5em;
    height: 7.5em;
    background-position: center center;
    background-repeat: no-repeat;
}

.mini_icon[data-img='1'] { background-image: url('../../img/fordevelopers/feature_1_icon_1.svg'); }
.mini_icon[data-img='2'] { background-image: url('../../img/fordevelopers/feature_1_icon_2.svg'); }
.mini_icon[data-img='3'] { background-image: url('../../img/fordevelopers/feature_1_icon_3.svg'); }
.mini_icon[data-img='4'] { background-image: url('../../img/fordevelopers/feature_1_icon_4.svg'); }
.mini_icon[data-img='5'] { background-image: url('../../img/fordevelopers/feature_1_icon_5.svg'); }
.mini_icon[data-img='6'] { background-image: url('../../img/fordevelopers/feature_1_icon_6.svg'); }
.mini_icon[data-img='7'] { background-image: url('../../img/fordevelopers/feature_1_icon_7.svg'); }
.mini_icon[data-img='8'] { background-image: url('../../img/fordevelopers/feature_1_icon_8.svg'); }

/* banner hero images */

.hb_inner[data-img='1']
{
    background-image: url('../../img/fordevelopers/hero_cover_1.jpg');
}

.hero_mob_hack
{
    background-color: #44CE5E;
}


.hb_content_pad
{
    height: 100%;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10em;
}

.pricing_image::after
{
    content: '';
    display: block;
    padding-top: 33.333%;
}

.icon_row
{
    width:14.2em;
    height:12em;
    margin: 0 auto 0 auto;

    background-repeat: no-repeat;
    background-position: center center;

}

.icon_f1, .section_icon[data-img='1'] { background-image: url("../../img/common/booxi_content_api.svg"); }
.icon_f2, .section_icon[data-img='2'] { background-image: url("../../img/common/booxi_appointments_api.svg"); }
.icon_f3, .section_icon[data-img='3']  { background-image: url("../../img/common/booxi_directory_api.svg"); }

.icon_f4 { background-image: url("../../img/common/booxi_partners.svg"); }
.icon_f5 { background-image: url("../../img/common/booxi_business.svg"); }
.icon_f6 { background-image: url("../../img/common/booxi_affiliates.svg"); }

.promo_img_mob
{
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.promo_img_mob::after
{
    content:'';
    display: block;
    padding-top: 60%;
}

.promo_img
{
    height: 100%;
    width:  50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.p_img_1
{
    background-image: url("../../img/fordevelopers/feature_2.png");
}

.p_img_2
{
    background-image: url("../../img/fordevelopers/feature_3.png");

    margin-left: -10em;
    margin-top: -4em;
    padding: 6em;
}

.p_img_3
{
    background-image: url("../../img/fordevelopers/feature_4.png");
}


/* ------------------- */

.offset_top
{
    position: relative;
    margin-top: -13em;
}


@media screen and (min-width: 1px) and (max-width: 320px)
{
    .ovr_H    { height: 50%; }
    .ovr_LR_A { padding: 0 10% 0 10%; }
    .ovr_LR_B { padding: 0 10% 0 10%; }

    .p_img_1, .p_img_3 { padding: 14em; }

    .hb_inner[data-img='1']
    {
        background-image: url('../../img/fordevelopers/hero_cover_m_1.jpg');
    }

    .hero_box .hb_inner::after { padding-top: 118% !important; }
    .hb_content_pad { padding-bottom: 8em !important;}
    /*.offset_top { margin-top: -28em !important; }*/
    .hero_padding { padding-right: 0 !important; }

    .icon_row
    {
        width: 9em  !important;
        height: 9em  !important;
        background-size: contain;
    }

    .bkg_deco_right, .bkg_deco_left
    {
        display: none !important;
    }

    .bgBarRight, .bgBarLeft
    {
        display: none !important;
    }

    .boxRadL, .boxRadR
    {
        border-radius: 6px !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 460px)
{
    .ovr_H    { height: 60%; }
    .ovr_LR_A { padding: 0 14% 0 14%;  }
    .ovr_LR_B { padding: 0 5% 0 5%; }

    .p_img_1, .p_img_3 { padding: 14em; }
    .p_img_3 { margin-top: -5em; }

    .hb_inner[data-img='1']
    {
        background-image: url('../../img/fordevelopers/hero_cover_m_1.jpg');
    }

    .hero_box .hb_inner::after { padding-top: 118% !important; }
    .hb_content_pad { padding-bottom: 8em !important;}
    .hero_padding { padding-right: 0 !important; }

    .icon_row
    {
        width: 9em  !important;
        height: 9em  !important;
        background-size: contain;
    }

    .bkg_deco_right, .bkg_deco_left
    {
        display: none !important;
    }

    .bgBarRight, .bgBarLeft
    {
        display: none !important;
    }

    .boxRadL, .boxRadR
    {
        border-radius: 6px !important;
    }
}

@media screen and (min-width: 461px) and (max-width: 640px)
{
    .ovr_H    { height: 65%; }
    .ovr_LR_A { padding: 0 0 0 0;  }
    .ovr_LR_B { padding: 0 15% 0 15%; }

    .p_img_1, .p_img_3
    {
        padding: 20em;
    }

    .p_img_3
    {
        margin-top: -5em;
    }

    .hb_inner[data-img='1']
    {
        background-image: url('../../img/fordevelopers/hero_cover_m_1.jpg');
    }

    .hero_box .hb_inner::after { padding-top: 118% !important; }
    .hb_content_pad { padding-bottom: 8em !important;}
    /*.offset_top { margin-top: -24em !important; }*/

    .icon_row
    {
        width: 9em  !important;
        height: 9em  !important;
        background-size: contain;
    }

    .bkg_deco_right, .bkg_deco_left
    {
        display: none !important;
    }

    .bgBarRight, .bgBarLeft
    {
        display: none !important;
    }

    .boxRadL, .boxRadR
    {
        border-radius: 6px !important;
    }

}

@media screen and (min-width: 641px) and (max-width: 800px)
{
    .ovr_H    { height: 65%; }
    .ovr_LR_A { padding: 0 0 0 0; }
    .ovr_LR_B { padding: 0 0 0 0; }

    .hero_box .hb_inner
    {
        background-position: top center !important;
        background-size: auto 110% !important;
    }

    .hero_box .hb_inner::after { padding-top: 50% !important; }
    .hb_content_pad { padding-bottom: 8em !important;}
    .offset_top { margin-top: -6em !important; }
    .bkg_deco_right { right: -16em !important; }

    .p_img_1
    {
        padding: 4em;
        margin-top: -8em;
    }

    .p_img_2
    {
        margin-top: -17em !important;
        padding: 11em;
        margin-left: -20em;
    }

    .p_img_3
    {
        padding: 17em;
        margin-top: -20em;
    }

    .bgBarRight
    {
        width:85% !important;
    }
}

@media screen and (min-width: 801px) and (max-width: 1080px)
{
    .ovr_H    { height: 60%; }
    .ovr_LR_A { padding: 0 0 0 0; }
    .ovr_LR_B { padding: 0 0 0 0; }

    .hero_box .hb_inner
    {
        background-position: top center !important;
        background-size: auto 100% !important;
    }

    .hero_box .hb_inner::after { padding-top: 45% !important; }
    .offset_top { margin-top: -10em !important; }

    .p_img_1
    {
        padding: 4em;
        margin-top: -4em;
    }

    .p_img_2
    {
        margin-top: -12em !important;
        padding: 9em;
        margin-left: -15em;
    }

    .p_img_3
    {
        padding: 11em;
        margin-top: -9em;
    }

    .feature_title_hack
    {
        height: 5em;
    }

    .bgBarRight
    {
        width:75% !important;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1360px)
{
    .ovr_H    { height: 60%; }
    .ovr_LR_A { padding: 0 0 0 0; }
    .ovr_LR_B { padding: 0 0 0 0; }

    .bkg_deco_left { left: -16em !important; }

    .p_img_1
    {
        padding: 6em;
        margin-top: -4em;
    }

    .p_img_2
    {
        margin-left: -13em !important;
        margin-top: -8em !important;
        padding: 8em;
    }

    .p_img_3
    {
        padding: 4em;
        margin-top: -2em;
    }


}

@media screen and (min-width: 1361px) and (max-width: 1640px)
{
    .ovr_H    { height: 60%; }
    .ovr_LR_A { padding: 0 0 0 0; }
    .ovr_LR_B { padding: 0 0 0 0; }

    .bkg_deco_left { left: -16em !important; }

    .p_img_1
    {
        padding: 6em;
        margin-top: -5em;
    }

    .p_img_2 { margin-left: -20em !important; }

}

@media screen and (min-width: 1641px)
{
    .ovr_H    { height: 56%; }
    .ovr_LR_A { padding: 0 0 0 0; }
    .ovr_LR_B { padding: 0 0 0 0; }

    .bkg_deco_left { left: -32em !important; }
    .bkg_deco_right { right: -33em !important; }

    .p_img_1
    {
        padding: 6em;
        margin-top: -3em;
    }

    .p_img_2 { margin-left: -20em !important; }

}



