

@media screen and (min-width: 1px) and (max-width: 320px)
{
    .press_hero_tx_box {
        padding-left: 4em;
        width: 63%;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .press_hero_tx_box .lh_Sp
    {
        line-height: 2em !important ;
    }

    .press_hero_tx_box span.tx_type_S
    {
        font-size: 1.8em !important ;
    }

    .press_hero_btn_box
    {
        display: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 460px)
{
    .press_hero_tx_box {
        padding-left: 4em;
        width: 63%;
        padding-top: 2em;
        padding-bottom: 4em;
    }

    .press_hero_tx_box .lh_Sp
    {
        line-height: 2em !important ;
    }

    .press_hero_tx_box span.tx_type_S
    {
        font-size: 1.8em !important ;
    }

    .press_hero_btn_box
    {
        display: none;
    }
}

@media screen and (min-width: 461px) and (max-width: 640px)
{
    .press_hero_tx_box {
        padding-left: 6em;
        width: 63%;
        padding-top: 2em;
        padding-bottom: 4em;
    }

    .press_hero_tx_box .lh_Sp
    {
        line-height: 2.2em !important ;
    }

    .press_hero_tx_box span.tx_type_S
    {
        font-size: 2em !important ;
    }

    .press_hero_btn_box .uie_button
    {
        height: 4em !important;
        line-height: 4em !important;
        border-radius: 3px !important;
    }
}

@media screen and (min-width: 641px) and (max-width: 800px)
{
    .press_hero_tx_box {
        padding-left: 10em;
        width: 63%;
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .press_hero_tx_box .lh_Sp
    {
        line-height: 2.4em !important ;
    }

    .press_hero_tx_box span.tx_type_S
    {
        font-size: 2.4em !important ;
    }

    .press_hero_btn_box .uie_button
    {
        height: 4em !important;
        line-height: 4em !important;
        border-radius: 3px !important;
    }
}

@media screen and (min-width: 801px) and (max-width: 1080px)
{
    .press_hero_tx_box {
        padding-left: 10em;
        width: 64%;
        padding-top: 6em;
        padding-bottom: 10em;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1360px)
{
    .press_hero_tx_box {
        padding-left: 25em;
        width: 64%;
        padding-top: 10em;
        padding-bottom: 10em;
    }
}

@media screen and (min-width: 1361px) and (max-width: 1640px)
{
    .press_hero_tx_box {
        padding-left: 25em;
        width: 64%;
        padding-top: 10em;
        padding-bottom: 10em;
    }
}

@media screen and (min-width: 1641px)
{
    .press_hero_tx_box {
        padding-left: 30em;
        width: 64%;
        padding-top: 10em;
        padding-bottom: 10em;
    }
}